html {
  box-sizing: border-box;
  font-size: 15px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #effafa;
  font-family: "Spartan", sans-serif;
}

h1, h2, h3 {
  margin-top: 0;
}

hr {
  border-color: rgba(123, 142, 142, 0.3);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 70rem) {
  hr {
    display: none;
  }
}

.container {
  width: 90%;
  max-width: 96.333rem;
  margin: 0 auto;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 13px 15px rgba(91, 164, 164, 0.2);
  margin-top: 2rem;
  margin-bottom: 2.666rem;
  padding: 1rem;
  position: relative;
}

@media (min-width: 70rem) {
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5.5rem;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list li {
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 3.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #effafa;
  color: #5ba4a4;
  font-size: 0.875rem;
  font-weight: 700;
  position: relative;
}

.filter-list li::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2.5rem;
  top: 0;
  bottom: 0;
  right: -2.5rem;
  background-color: #5ba4a4;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 1.35rem;
  content: '\f00d';
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.filter-list li:hover::after {
  background-color: #000000;
}

.clear-items {
  display: block;
  margin-left: 1rem;
  color: #7b8e8e;
  text-decoration: none;
}

.clear-items:hover {
  color: #5ba4a4;
  text-decoration: underline;
}

.featured {
  border-left: 5px solid #5ba4a4;
}

@media (min-width: 70rem) {
  .col-1 {
    display: flex;
    align-items: center;
  }
}

.company-details {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.company-details > div {
  display: inline-block;
  margin-right: 0.5rem;
}

.logo img {
  width: 3.3333rem;
  height: auto;
  border-radius: 50%;
  margin-top: -50%;
}

@media (min-width: 70rem) {
  .logo img {
    width: 6rem;
    height: auto;
    margin-top: 0;
    margin-right: 2rem;
  }
}

.company {
  font-size: 0.875rem;
  font-weight: 700;
  color: #5ba4a4;
}

.position {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.875rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.position:hover {
  color: #5ba4a4;
}

.job-details-list {
  display: flex;
  color: #7b8e8e;
  margin: 0 0 1rem 0;
  padding: 0;
}

.job-details-item {
  font-size: 0.875rem;
  margin: 0 0.8rem;
}

.job-details-item:not(:first-child) {
  padding-left: 5px;
}

.job-details-item:first-child {
  margin-left: 0;
  list-style-type: none;
}

.attributes {
  justify-self: flex-end;
}

.attribute-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.attribute-list li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #effafa;
  font-size: 0.9rem;
  font-weight: 700;
  color: #5ba4a4;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.attribute-list li:hover {
  background-color: #5ba4a4;
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 0.875em 0.875em 0.6em;
  border-radius: 1.5em;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
}

.new-btn {
  background-color: #5ba4a4;
}

.featured-btn {
  background-color: #000000;
}

.hide {
  display: none;
}

.header {
  height: 155px;
  background-image: url("../images/bg-header-mobile.svg");
  background-color: #5ba4a4;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}

@media (min-width: 70rem) {
  .header {
    background-image: url("../images/bg-header-desktop.svg");
  }
}
/*# sourceMappingURL=styles.css.map */