// boxes for all listings including filter box
.box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 13px 15px rgba($primary, 0.2);
    margin-top: 2rem;
    margin-bottom: 2.666rem;
    padding: 1rem;
    position: relative;

    @media (min-width: 70rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5.5rem;
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-list li {
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 3.5rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $background;
    color: $primary;
    font-size: 0.875rem;
    font-weight: 700;
    position: relative;
}

.filter-list li::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2.5rem;
    top: 0;
    bottom: 0;
    right: -2.5rem;
    background-color: $primary;
    color: $white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.35rem;
    content: '\f00d';
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.filter-list li:hover::after {
    background-color: $black;
}

.clear-items {
    display: block;
    margin-left: 1rem;
    color: $darkGrayCyan;
    text-decoration: none;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.featured {
    border-left: 5px solid $primary;
}

.col-1 {
    @media (min-width: 70rem) {
        display: flex;
        align-items: center;
    }  
}

.company-details {
    padding-top: 1rem;
    margin-bottom: 1rem;

    & > div {
        display: inline-block;
        margin-right: 0.5rem;
    }
}

.logo img {
    width: 3.3333rem;
    height: auto;
    border-radius: 50%;
    margin-top: -50%;
    // position: absolute;
    // top: -25px;
    // left: 1rem;
    // background-image: url('../images/photosnap.svg');
    // background-size: cover;
    // background-repeat: no-repeat;

    @media (min-width: 70rem) {
        width: 6rem;
        height: auto;
        margin-top: 0;
        margin-right: 2rem;
    }
}

.company {
    font-size: 0.875rem;
    font-weight: 700;
    color: $primary;
}

.position {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.875rem;
    margin-bottom: 1.25rem;
    cursor: pointer;

    &:hover {
        color: $primary;
    }
}

.job-details-list {
    display: flex;
    color: $darkGrayCyan;
    margin: 0 0 1rem 0;
    padding: 0;
}

.job-details-item {
    font-size: 0.875rem;
    margin: 0 0.8rem;

    &:not(:first-child) {
        padding-left: 5px;
    }
}

.job-details-item:first-child {
    margin-left: 0;
    list-style-type: none;
}

.attributes {
    justify-self: flex-end;
}

.attribute-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.attribute-list li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: $background;
    font-size: 0.9rem;
    font-weight: 700;
    color: $primary;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: $primary;
        color: $white;
    }
}

// Buttons
// base
.btn {
    display: inline-block;
    padding: 0.875em 0.875em 0.6em;
    border-radius: 1.5em;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
}

// new button
.new-btn {
    background-color: $primary;
}

// featured button
.featured-btn {
    background-color: $black;
}

// show/hide components
.hide {
    display: none;
}