// boxes for all listings including filter box
.box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 13px 15px rgba($primary, 0.2);
    margin-top: 2rem;
    margin-bottom: 2.666rem;
    padding: 1rem;
    border-left: 5px solid $primary;
    position: relative;
}

.company-details {
    padding-top: 1rem;
    margin-bottom: 1rem;

    & > div {
        display: inline-block;
    }
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 1rem;
    background-image: url('../images/photosnap.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.company {
    font-size: 0.875rem;
    font-weight: 700;
    color: $primary;
}

.position {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.job-details-list {
    display: flex;
    color: $darkGrayCyan;
    margin: 0 0 1rem 0;
    padding: 0;
}

.job-details-item {
    font-size: 0.875rem;
    margin: 0 0.8rem;
}

.job-details-item:first-child {
    margin-left: 0;
    list-style-type: none;
}

.attribute-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.attribute-list li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: $background;
    font-size: 0.9rem;
    font-weight: 700;
    color: $primary
}

// Buttons
// base
.btn {
    display: inline-block;
    padding: 0.875em 0.875em 0.6em;
    border-radius: 1.5em;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
}

// new button
.new-btn {
    background-color: $primary;
}

// featured button
.featured-btn {
    background-color: $black;
}