// Colors
$primary: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filter: hsl(180, 31%, 95%);
$darkGrayCyan: hsl(180, 8%, 52%);
$veryDarkGrayCyan: hsl(180, 14%, 20%);


// Typography
$font: 'Spartan', sans-serif;